* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.descriptions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.infoTitle {
    font-size: 26px;
    font-weight: 500;
}

.infoItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.infoItemTitle {
    font-size: 20px;
}

.infoItemIcon {
    width: 53px;
    height: 53px;
    stroke: #000;
}

.infoItemDescription {
    font-size: 18px;
}