@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.descriptions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.infoTitle {
    font-size: 26px;
    font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    img{
        width: 50px;
        border-radius: 60%;
    }
    h1{
        font-size: 30px;
        text-transform: uppercase;
    }
}.headerText{
    font-size: 47px;
    font-weight: 700;
    padding-bottom: 10px;
}
.headerBtn{
    margin: 5px;
        padding: 12px 22px;
        border: none;
        border-radius: 5px;
        background-color: #ebd9a5;
        font-size: 22px;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            background-color: #333;
        }
}
.headerBtnLink{
    text-decoration: none;
    color: #333;
    &:hover{
        color: #fff;
    }
}
.headerHome{
    background: url(./assets/bg.jpg) center/cover no-repeat;
    padding: 250px 0 250px 0;
}
@media screen and (max-width: 768px){
    .headerText{
        font-size: 30px;
    }
    .headerBtn{
        font-size: 17px;
    }
}
.infoItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.infoItemTitle {
    font-size: 20px;
}

.infoItemIcon {
    width: 53px;
    height: 53px;
    stroke: #000;
}

.infoItemDescription {
    font-size: 18px;
}