@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;

}

.headerLogo img {
    width: 50px;
    border-radius: 60%;
}

.headerLogo h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.headerText {
    font-size: 47px;
    font-weight: 700;
    padding-bottom: 10px;
    text-shadow: 0 0 15px grey;
}

.headerBtn {
    margin: 5px;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    background-color: #ebd9a5;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.headerBtn:hover {
    background-color: #333;
}

.headerBtn:hover .headerBtnLink {
    color: #fff;
}

.headerBtnLink {
    color: #333;
}

.headerHome {
    background: url(./assets/bg.jpg) center/cover no-repeat;
    padding: 150px 0;
}

.descriptions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.infoTitle {
    font-size: 32px;
    font-weight: 500;
}

.infoItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #5b5b5b;
    padding: 15px;
    border-radius: 8px;
}

.infoItemTitle {
    font-size: 20px;
}

.infoItemIcon {
    width: 60px;
    height: 60px;
    stroke: #fff;
}

.infoItemDescription {
    font-size: 19px;
}

.footerContainer {
    width: 100%;
    padding: 40px 30px 20px ;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    width: 50px;
    height: 50px;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 30px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i,
.socialIcons a div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: black;
}

.socialIcons .twoGisIcon div {
    width: 50px;
    height: 50px;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.3s;
}

.socialIcons a:hover i {
    color: #fff;
    transition: 0.3s;
}

.socialIcons a svg {
    fill: #000;
}

.socialIcons a:hover svg {
    fill: #fff;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #fff;
}

.serviceInfo {
    position: relative;
    background:
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.2)
        ),
        url(./assets/serviceInfoBG.png)
        center/cover
        no-repeat
        fixed;
    height: 350px;
}

.serviceInfoText {
    max-width: 1280px;
    width: 75%;
    position: absolute;
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .headerText {
        font-size: 28px;
    }
    .headerBtn {
        font-size: 17px;
    }

    .serviceInfoText {
        text-align: center;
        font-size: 18px;
    }

    .descriptions {
        gap: 35px;
    }
    .infoTitle {
        font-size: 26px;
    }
    .infoItems {
        gap: 10px;
    }
    .infoItem {
        padding: 8px;
    }
    .infoItemTitle {
        font-size: 17px;
    }
    .infoItemIcon {
        width: 45px;
        height: 45px;
    }
    .infoItemDescription {
        font-size: 14px;
    }

    .socialIcons a {
        width: 35px;
        height: 35px;
        padding: 28px;
    }

    .socialIcons a i {
        font-size: 2.8em;
    }
}